{{!-- Start navbar --}}
<nav class="navbar navbar-light bg-light fixed-top border-bottom shadow-sm">
    <div>
        <a href="/userportal" class="navbar-title">ABACUS</a>
    </div>

    <div class="d-flex flex-row">
        <div class=" d-flex flex-row navbar-nav mr-auto mt-2 mt-lg-0">
            <a id="navLink1" class="nav-link nav-item" href="/userportal">Home</a>
            <a id="logoutLink" class="nav-link nav-item" href="/logout">Logout</a>
        </div>
    </div>
</nav>
{{!-- End navbar --}}

<div class='container wrapper wrapper3'>
	<h1>
		{{this.title}}
	</h1>
	<table class="table table-hover studentTable shadow">
		<thead class="student-table-head">
			<tr>
				<th scope="col">Student ID</th>
				<th scope="col">Student Name</th>
				<th scope="col">Assignment Grade</th>
			</tr>
		</thead>
		<tbody>
			{{#each grades}}
			<tr>
				<th scope="row">{{this.id}}</th>

				<td>{{this.first_name}} {{this.last_name}}</td>

				<td>{{"Grades.gradeVal"}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>