{{!-- Start navbar --}}
<nav class="navbar navbar-light bg-light fixed-top border-bottom shadow-sm">
	<div>
		<a href="/userportal" class="navbar-title">ABACUS</a>
	</div>

	<div class="d-flex flex-row">
		<div class=" d-flex flex-row navbar-nav mr-auto mt-2 mt-lg-0">
			<a id="navLink1" class="nav-link nav-item" href="/userportal">Home</a>
			<a id="logoutLink" class="nav-link nav-item" href="/logout">Logout</a>
		</div>
	</div>
</nav>
{{!-- End navbar --}}

<div class='container wrapper wrapper3'>
	<section class="row">
		<h1 class="col-12 assignHead text-center">ASSIGNMENTS</h1>
	</section>

	<section class="row assignRow">
		<section class="offset-1 col-10">
			{{#each Assignments}}
			<div class="card shadow assignment-cards">
				{{!-- <div > --}}
				<h4 class="assignment-headers">{{this.title}}</h4>
				{{!-- </div> --}}
				<div class="card-body">
					<h5 class="card-title">
						{{this.subject}}
					</h5>
					<p class="card-text">
						{{this.description}}
					</p>
					<center>
						<button class="btn viewGradesBtn" data-id="{{this.id}}">View Grades</button>
						<button class="btn updateAssign" data-id="{{this.id}}" data-title="{{this.title}}"
							data-description="{{this.description}}" data-assignDate="{{this.assignment_date}}"
							data-dueDate="{{this.due_date}}" data-subject="{{this.subject}}">Update
							Assignment</button>
						<button data-id="{{id}}" class="btn del-btn">Delete Assignment</button>
					</center>
				</div>
			</div>
			{{/each}}
			<button id="addAssign" class="btn mb-2">Create New Assignment</button>
		</section>
	</section>

	{{!-- Modal for create assignment form --}}
	<div id="addModal" class="modal">

		<div class="modal-content">
			<div class="modal-header">
				<h3>Create an Assignment!</h3>
			</div>

			<div class="modal-body">
				<form class="newAssign modal-body">

					{{!-- Title --}}
					<div class="form-group">
						<label for="inputTitle">Title</label>
						<input type="text" class="form-control" id="newAssignName" placeholder="Title">
					</div>
					{{!-- Description --}}
					<div class="form-group">
						<label for="inputDescription">Description</label>
						<input type="text" class="form-control" id="newAssignDescrip" placeholder="Description">
					</div>
					{{!-- Assignment Date --}}
					<div class="form-group">
						<label for="inputAssignDate">Assignment Date</label>
						<input type="text" class="form-control" id="newAssignDate" placeholder="YYYY-MM-DD">
					</div>
					{{!-- Due Date --}}
					<div class="form-group">
						<label for="inputDueDate">Due Date</label>
						<input type="text" class="form-control" id="newAssignDue" placeholder="YYYY-MM-DD">
					</div>
					{{!-- Subject --}}
					<div class="form-group">
						<label for="inputSubject">Subject</label>
						<input type="text" class="form-control" id="newAssignSubject" placeholder="Subject">
					</div>
					{{!-- Error message --}}
					<div style="display: none" id="alert" class="alert alert-danger" role="alert">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span class="sr-only">Error:</span> <span class="msg"></span>
					</div>
					
					<center>
						<button id="confirmAssign" class="btn mb-2">Confirm</button>
						<button id="closeBtn2" class="btn">Close</button>
					</center>
					
				</form>
			</div>
		</div>
	</div>

	{{!-- Modal for update assignment form --}}
	<div id="updateModal" class="modal">

		<div class="modal-content">
			<div class="modal-header">
				<h3 class="text-center">Update an Assignment!</h3>
			</div>

			<div class="modal-body">
				<form class="updateForm modal-body">

					{{!-- Title --}}
					<div class="form-group">
						<label for="inputTitle">Title</label>
						<input type="text" class="form-control" id="updateAssignName" placeholder="Title">
					</div>
					{{!-- Description --}}
					<div class="form-group">
						<label for="inputDescription">Description</label>
						<input type="text" class="form-control" id="updateAssignDescrip" placeholder="Description">
					</div>
					{{!-- Assignment Date --}}
					<div class="form-group">
						<label for="inputAssignDate">Assignment Date</label>
						<input type="text" class="form-control" id="updateAssignDate" placeholder="YYYY-MM-DD">
					</div>
					{{!-- Due Date --}}
					<div class="form-group">
						<label for="inputDueDate">Due Date</label>
						<input type="text" class="form-control" id="updateAssignDue" placeholder="YYYY-MM-DD">
					</div>
					{{!-- Subject --}}
					<div class="form-group">
						<label for="inputSubject">Subject</label>
						<input type="text" class="form-control" id="updateAssignSubject" placeholder="Subject">
					</div>

					<center>
						<button id="updateAssign" class="btn mb-2">Save</button>
						<button id="closeBtn3" class="btn">Close</button>
					</center>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="js/editAssignment.js"></script>
<script type="text/javascript" src="js/createAssignment.js">
</script>
<script type="text/javascript" src="js/viewGrades.js"></script>